@font-face {
  font-family: "PokemonFont"; /* Nome del font */
  src: url("./assets/fonts/Pokemon-Solid.ttf") format("truetype"); /* Percorso relativo al file */
  font-weight: normal;
  font-style: normal;
}
main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
